.caretDown {
  height: 6rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
  display: flex;
}
.animateCaretDown {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  -webkit-animation: blink 1400ms ease-in-out infinite;
  -moz-animation: blink 1400ms ease-in-out infinite;
  -ms-animation: blink 1400ms ease-in-out infinite;
  -o-animation: blink 1400ms ease-in-out infinite;
  animation: blink 1400ms ease-in-out infinite;
}
@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: transparent;
    padding-top: 3rem;
  }
  50% {
    color: white;
  }
}
.goingDown {
  font-size: 1.2rem;
  transform: scaleX(1.5);
}
.animateCaretDown > .goingDown:last-child {
  margin-top: -0.3rem;
}
.noLinkOutline {
  outline: none;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .goingDown {
    font-size: 1.1rem;
  }
  .animateCaretDown {
    margin-top: 0;
    padding: 2rem;
  }
  @keyframes blink {
    from {
      color: transparent;
    }
    to {
      color: transparent;
      padding-top: 3rem;
    }
    50% {
      color: white;
    }
  }
}
