.footer {
  display: flex;
  background-color: #1a1a1a;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  color: white;
  font-size: 14pt;
  line-height: 0;
}
.footerParagraph {
  margin: auto;
  text-align: center;
}
.footerLinkColor {
  color: white;
}

/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .footer {
    height: 5rem;
    font-size: 15pt;
    padding-top: 1.5rem;
  }
}
