.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  font-size: 11pt;
}
.footerLinkColor {
  color: white;
}
.footerLinkColor img {
  height: inherit;
  width: 70px;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .footer {
    flex-direction: column;
    font-size: 9pt;
    height: 40px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .padOnMobile {
    padding-top: 0.3rem;
  }
  .footerLinkColor img {
    width: 65px;
  }
  .marginBottom {
    border-bottom-color: #808b97;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-bottom: 0.3rem;
  }
}
