.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  flex: 1;
}
.NavRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 2rem;
  margin-left: -2rem;
}
.NavColumn {
  display: flex;
  flex-direction: column;
  flex-basis: content;
  flex: 1;
}
.marginTop {
  margin-top: 1.7rem;
}
.headerLogoLink {
  margin-left: 7rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}
.headerLink {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: Montserrat, sans-serif;
}
.headerLink:before,
.headerLink:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.headerLink:before {
  font-size: 1.4rem;
  content: "[";
  margin-right: 0.2rem;
  -webkit-transform: translate(1.25rem);
  -moz-transform: translate(1.25rem);
  transform: translate(1.25rem);
}
.headerLink:after {
  font-size: 1.4rem;
  content: "]";
  margin-left: 0.2rem;
  -webkit-transform: translate(-1.25rem);
  -moz-transform: translate(-1.25rem);
  transform: translate(-1.25rem);
}
.headerLink:hover:before,
.headerLink:hover:after,
.activeHeaderLink:before,
.activeHeaderLink:after {
  opacity: 1;
  -webkit-transform: translate(0rem);
  -moz-transform: translate(0rem);
  transform: translate(0rem);
}
.mobileNav {
  display: none;
}
.NavButton {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  color: inherit;
  font: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  position: relative;
  float: right;
  margin-right: 2rem;
  padding: 0.563rem 0.625rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  background-image: none;
  border: 0.063rem solid transparent;
  border-radius: 0.25rem;
  -webkit-appearance: button;
  border-color: #ddd;
  z-index: 100;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.NavTogglerSpan {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
  font: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  text-transform: none;
  margin-bottom: 0.25rem;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
  display: block;
  width: 1.375rem;
  height: 0.125rem;
  border-radius: 0.063rem;
  background-color: #fff;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.NavTogglerSpan:last-of-type {
  margin-bottom: 0;
}
.navActive span:first-child {
  transform: translateY(0.188rem) rotate(45deg);
  -webkit-transform: translateY(0.188rem) rotate(45deg);
  -moz-transform: translateY(0.188rem) rotate(45deg);
}
.navActive span:nth-child(2) {
  transform: translateY(0.625rem);
  -webkit-transform: translateY(0.625rem);
  -moz-transform: translateY(0.625rem);
}
.navActive span:nth-child(3) {
  transform: translateY(-0.563rem) rotate(-45deg);
  -webkit-transform: translateY(-0.563rem) rotate(-45deg);
  -moz-transform: translateY(-0.563rem) rotate(-45deg);
}
.navActive span:last-child {
  transform: translateY(0.188rem);
  -webkit-transform: translateY(0.188rem);
  -moz-transform: translateY(0.188rem);
}

/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .headerLogoLink {
    margin-left: 1rem;
    font-size: 1.7rem;
  }
  .headerLink {
    margin-bottom: 1.1rem;
  }
  .mobileNav {
    display: block;
  }
  .NavRow {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.2rem 0 0 0;
  }
  .row {
    flex-direction: column;
  }
  .NavColumn {
    flex-direction: row;
  }
  .flexEnd {
    justify-content: flex-end;
  }
  .mobileNavBackground {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-size: 10.188rem;
    line-height: 1.8;
    font-weight: 300;
    letter-spacing: 0.031rem;
    color: #666;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    word-wrap: break-word;
    overflow-x: visible;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
    box-shadow: inset 0 0.043rem 0 rgba(255, 255, 255, 0.2);
  }
  .hideOnMobile {
    overflow: hidden;
    height: 0;
    -webkit-transition: height 220ms ease-in;
    -moz-transition: height 220ms ease-in;
    -o-transition: height 220ms ease-in;
    transition: height 220ms ease-in;
  }
  .showOnMobile {
    height: 20rem;
    -webkit-transition: height 220ms ease-out;
    -moz-transition: height 220ms ease-out;
    -o-transition: height 220ms ease-out;
    transition: height 220ms ease-out;
  }
}
