.container {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  letter-spacing: 0.031rem;
}
.container .item:first-child {
  display: flex;
  flex-direction: row;
  width: 40vw;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
  background-color: black;
}
.linkText {
  color: white;
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}
.container .item:first-child .linkText {
  margin-left: 7rem;
  font-size: 2.2rem;
  font-weight: 600;
}
.container .item:last-child {
  display: flex;
  flex-direction: row;
  width: 60vw;
  padding-top: 2rem;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: black;
}
.container .item:last-child .linkText {
  font-size: 1.2rem;
  font-weight: 200;
}
.container .item:last-child .linkText:before {
  font-size: 1.4rem;
  content: "[";
  margin-right: 0.2rem;
  -webkit-transform: translate(1.25rem);
  -moz-transform: translate(1.25rem);
  transform: translate(1.25rem);
}
.container .item:last-child .linkText:after {
  font-size: 1.4rem;
  content: "]";
  margin-left: 0.2rem;
  -webkit-transform: translate(-1.25rem);
  -moz-transform: translate(-1.25rem);
  transform: translate(-1.25rem);
}
.container .item:last-child .linkText:before,
.container .item:last-child .linkText:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.container .item:last-child .linkText:hover:before,
.container .item:last-child .linkText:hover:after,
.container .item:last-child .activeLink:before,
.container .item:last-child .activeLink:after {
  opacity: 1;
  -webkit-transform: translate(0rem);
  -moz-transform: translate(0rem);
  transform: translate(0rem);
}
.NavTogglerSpan {
  margin-bottom: 0.25rem;
  width: 1.375rem;
  height: 0.125rem;
  background-color: #fff;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.NavTogglerSpan:last-of-type {
  margin-bottom: 0;
}
.mobileNav {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  padding: 0.563rem 0.625rem;
  background-color: transparent;
  border: 0.063rem solid transparent;
  border-radius: 0.25rem;
  -webkit-appearance: button;
  border-color: #ddd;
  transition: 0.3s all;
  -moz-transition: 0.3s all;
  margin-right: 1.5rem;
}
.mobileNavOpen span:first-child {
  transform: translateY(0.188rem) rotate(45deg);
  -webkit-transform: translateY(0.188rem) rotate(45deg);
  -moz-transform: translateY(0.188rem) rotate(45deg);
}
.mobileNavOpen span:nth-child(2) {
  transform: translateY(0.625rem);
  -webkit-transform: translateY(0.625rem);
  -moz-transform: translateY(0.625rem);
}
.mobileNavOpen span:nth-child(3) {
  transform: translateY(-0.563rem) rotate(-45deg);
  -webkit-transform: translateY(-0.563rem) rotate(-45deg);
  -moz-transform: translateY(-0.563rem) rotate(-45deg);
}
.mobileNavOpen span:last-child {
  transform: translateY(0.188rem);
  -webkit-transform: translateY(0.188rem);
  -moz-transform: translateY(0.188rem);
}

/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }
  .container .item:first-child .linkText {
    margin-left: 1rem;
  }
  .container .item:first-child {
    width: 100vw;
    justify-content: space-between;
  }
  .container .item:last-child {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
    padding-top: 0;
    box-shadow: inset 0 0.09rem 0 rgba(255, 255, 255, 0.2);
  }
  .container .item:first-child .linkText {
    font-size: 2rem;
  }
  .container .item:last-child .linkText {
    font-size: 1.1rem;
  }
  .container .item:last-child .linkText:not(:first-child) {
    margin-top: 1.7rem;
  }
  .container .item:last-child .linkText:first-child {
    margin-top: 0.5rem;
  }
}
