.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.container {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.socialLinks {
  margin-top: 2rem;
  position: absolute;
  right: 10rem;
}
.projects {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 10rem;
  justify-content: center;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .container {
    margin-top: 2rem;
  }
  .socialLinks {
    margin-top: 2rem;
    position: relative;
    right: auto;
  }
}
