.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.socialLinks {
  position: absolute;
  right: 10rem;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .socialLinks {
    position: relative;
    right: auto;
  }
}
