.mainContainer {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #0f1113;
  padding-bottom: 2rem;
}
.container {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin: 1rem;
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  background-color: #000;
  color: white;
  text-decoration: none;
}
.downContainer {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.downContainerItem {
  flex: 1;
}
