.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.item {
  flex: 0 0 auto;
  margin-bottom: 3rem;
}
.container > .item:last-child {
  margin-bottom: 0;
}
.linkColor {
  color: white;
}
.tooltip {
  font-size: 10pt;
  max-width: 12rem;
}
.pointer {
  cursor: pointer;
}
.noLinkOutline {
  outline: none;
}
.linkContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0.4rem;
}
.iconSize {
  width: 1.063rem;
  height: 1.063rem;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .container {
    flex-direction: row;
  }
  .item {
    flex: 0 0 auto;
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .container > .item:last-child {
    margin-right: 0;
  }
}
