.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.verticalContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18rem;
}
.verticalContainer p {
  font-size: 13pt;
  font-weight: 400;
}
.item {
  flex: 0 0 auto;
}
.bracketLeft {
  margin-right: 1rem;
}
.bracketRight {
  margin-left: 1rem;
}
.brackets {
  font-size: 7rem;
}
.container a {
  color: white;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .bracketLeft {
    margin-right: 0.2rem;
  }
  .bracketRight {
    margin-left: 0.2rem;
  }
  .brackets {
    font-size: 6rem;
  }
  .verticalContainer {
    width: auto;
    max-width: 14rem;
  }
  .verticalContainer p {
    font-size: 11pt;
  }
}
