.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.verticalContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 16rem;
}
.item {
  flex: 0 0 auto;
}
.bracketLeft {
  margin-right: 1rem;
}
.bracketRight {
  margin-left: 1rem;
}
.brackets {
  font-size: 7rem;
}
.salutation {
  font-size: 20pt;
  font-weight: bold;
}
.introduction {
  flex: 0 0 auto;
}
.container .introduction {
  margin-top: 0.5rem;
}
.container > .introduction:first-child {
  font-size: 20pt;
  font-weight: bold;
  margin-right: 0.4rem;
}
.container > .introduction:nth-child(2) {
  font-size: 17pt;
  font-weight: lighter;
  font-style: italic;
}
.container > .introduction:nth-child(3) {
  font-size: 17pt;
  font-weight: lighter;
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -ms-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
.dot {
  font-size: 18pt;
}
.summary {
  font-size: 10pt;
  font-weight: bolder;
}
.container a {
  color: white;
}
/* Tablets and anything smaller */
@media screen and (max-width: 48rem) {
  .salutation {
    font-size: 14pt;
  }
  .container > .introduction:first-child {
    font-size: 13pt;
  }
  .container > .introduction:nth-child(2) {
    font-size: 11pt;
  }
  .bracketLeft {
    margin-right: 0;
  }
  .bracketRight {
    margin-left: 0;
  }
  .brackets {
    font-size: 6rem;
  }
  .summary {
    font-size: 8pt;
    margin: 0;
  }
  .verticalContainer {
    width: auto;
  }
}
