.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
}
.item {
  flex: 0 0 auto;
  margin-right: 1rem;
  cursor: pointer;
}
